

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #302247;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}


.section-products #product-1 .part-1::before {

    background-size: auto, auto;
    background-color: #302247;
	transition: all 0.3s;
}


.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #302247;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}



.section-products .single-product .part-1 ul li a:hover {
    color: #302247;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.section-products .single-product .part-1 .room-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Establece un ancho y alto máximo si es necesario */
    max-width: 100%;
    max-height: 100%;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    cursor: pointer;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    margin-bottom: 20px;
    overflow: hidden;
}

.image-container img {
    cursor: pointer;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: "New York";
    src: url(/fonts/NewYork.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    margin-bottom: -0.2rem;
}
body {
    min-height: 100vh;
    background-color: #e2dee7;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.year {
    margin-bottom: 20px;
}

.month {
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

th, td {
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    width: calc(100% / 7); 
}

.reservation {
    background-color: #ff0000;
    padding: 5px;
    margin-top: 5px;
}

.reserved-text {
    color: #ffffff;
    font-weight: bold;
}

h1 {
    color: #302247;
}
.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #302247;
    transition: margin-left 0.5s; 
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
  }
  
 
  @media (max-width: 767px) {
    .side-navbar {
      margin-left: 0; 
    }
  }

.navbar {
    background-color: #fff;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #6c529662;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 180px;
}

#menu-btn {
    background-color: #7859aa;
    color: #fff;
    padding: 1.5rem;
    margin-left: -62px;
}

a:hover {
    color: gray;
}

:root,
[data-bs-theme="light"] {
    --bs-link-color: #ffffff;
    --bs-link-hover-color: #979797;
}

tr:first-child {
    background-color: #7859aa;
    color: #fff;
}

.white-cell {
    background-color: #fff;
    color: rgb(0, 0, 0);
}
.non-cell {
    background-color: #fff;
    padding-right: 0.5rem;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #468a82;
    --bs-btn-border-color: #468a82;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2c5752;
    --bs-btn-hover-border-color: #2c5752;
}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #a18cc4;
    --bs-btn-border-color: #a18cc4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #856ab3;
    --bs-btn-hover-border-color: #856ab3;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5e68a9;
    --bs-btn-border-color: #5e68a9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4a528a;
    --bs-btn-hover-border-color: #4a528a;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #aa598b;
    --bs-btn-border-color: ##aa598b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8a4670;
    --bs-btn-hover-border-color: #8a4670;
}

.my-container input {
    border-radius: 0.2rem;
    padding: 2px 20px;
    margin: 1rem;
}

.form-control {
    margin: 1rem;
}

.single-product {
    position: relative;
}

.part-2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}